<mat-sidenav-container class="app-container">
  <mat-sidenav-content>
    <app-toolbar (toggleSidebar)="toggleSidebar()"></app-toolbar>
    <div class="content-container">
      <div class="sidebar-container" [ngClass]="{ open: isSidebarOpen, closed: !isSidebarOpen }">
        <app-sidebar></app-sidebar>
      </div>
      <div class="map-container" [ngClass]="{ 'map-shrinked': !isSidebarOpen }">
        <app-map></app-map>
        <app-footer></app-footer>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>