<mat-toolbar color="primary">
  <!-- Sidebar Toggle Button -->
  <button mat-icon-button (click)="toggleSidebar.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Application Title -->
  <span class="apptitle">Gujarat State GIS</span>

  <!-- Main Menu Buttons -->
  <ng-container *ngFor="let button of toolbarButtons">
    <button
      mat-icon-button
      [matTooltip]="button.tooltip"
      (click)="handleAction(button.action)"
      [class.active]="button.active" 
    >
      <mat-icon>{{ button.icon }}</mat-icon>
    </button>
  </ng-container>

  <!-- Spacer to push Login/Logout button to the right -->
  <span class="spacer"></span>

  <!-- Login/Logout Button (Right Side) -->
  <button mat-icon-button 
    [matTooltip]="loginLogoutButton.tooltip"
    (click)="toggleLogin()"
  >
    <mat-icon>{{ loginLogoutButton.icon }}</mat-icon>
  </button>
</mat-toolbar>
