.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.mat-sidenav {
  width: 40px; 
  background: linear-gradient(135deg, #494949, #333333, #504f4f);
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out; 
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  background-color: #f4f4f4;
  color: #333;
  transition: all 0.3s ease;
  padding: 5px;
}
.menu button.active {
  border-bottom: 4px solid #c1c435; /* Lighter green for visibility */
  font-weight: bold;
  color: #4caf50;
  background-color: rgba(193, 196, 53, 0.1); /* Darkened, transparent background */
  padding-bottom: 4px;
  transition: all 0.3s ease;
}

.menu button.active:hover {
  color: #fff;
  background-color: #4caf50;
  border-radius: 4px;
}



.menu button:hover {
  background-color: #e0e0e0;
}
.content-display {
  padding: 20px;
  background-color: #fafafa;
  flex-grow: 1;
  width: 350px;
  margin-left: 80px; 
  min-height: 100vh;
  overflow-y: auto;
}
